<launch>
  <node name="laser_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" respawn="true">
  </node>
  <node pkg="leg_detector" type="leg_detector" name="leg_detector" args="scan:=base_scan $(find leg_detector)/config/trained_leg_detector.yaml" output="screen">
   <remap from ="scan" to ="scan_filtered"/>
  </node>
</launch>
